body {
    background-color: #0fd3dd;
    font-family: 'Poppins', sans-serif;
}
.form {
    background-color: white;
    width: 70vw;
    margin: 50px auto;
    padding: 20px 50px;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    border-radius: 12px;
}
.form h1 {
    color: #0fd3dd;
}

.button {
    padding: 5px 30px;
    font-size: 18px;
}